#footer {
    position: relative;
    padding: 10% 8% 42px 10%;
    background-color: var(--background-color-dark);
}

.footer__logo_btn {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    border-radius: 3px;
    background-color: var(--background-color-dark);
    width: 230px;
    height: 60px;
}

.footer_br320 {
    display: none;
}

.footer__logo_btn .header__logo {
    height: 100%;
}

.footer__title {
    font-family: var(--text-font-family-other);
    color: var(--text-color-white);
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 32px;
}

.footer__socials,
.footer__nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 100px 0;
    list-style: none;
}

.footer__socials li+li {
    border-left: 1px solid var(--footer-border-color);
}

.footer__socials li {
    width: 100%;
}

.footer__socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    line-height: 14px;
    color: var(--text-color-white);
    padding: 20px 0;
    border-bottom: 1px solid var(--footer-border-color);
    border-top: 1px solid var(--footer-border-color);
}

.footer__nav {
    padding-left: 0;
}

.footer__nav li {
    width: 100%;
    display: flex;
}

.footer__nav a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.footer__list a {
    color: var(--text-color-white);
    text-decoration: none;
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: var(--text-font-family-other);
    color: var(--text-color-white);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.footer__item_name {
    font-family: var(--text-font-family-main-condensed);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--text-color-button-white);
    padding-bottom: 10px;
}

.up {
    position: absolute;

    display: flex;
    justify-content: end;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background-color: var(--background-button-color);
}

.up_btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--text-font-family-main-condensed);
    background-color: var(--background-button-color);
    color: var(--text-color-dark);
    margin-right: 2%;
    width: 130px;
    height: 42px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.up_btn .material-symbols-sharp {
    font-size: 40px;
    font-weight: 200;
}

@media screen and (max-width: 1024px) {
    #footer {
        padding-left: 40px;
        padding-right: 40px;
    }

    .footer__title {
        font-size: 36px;
    }

    .footer__item_name {
        font-size: 18px;
    }

    .footer__list {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    #footer {
        padding-bottom: 1%;
    }

    .footer__socials {
        margin-bottom: 60px;
    }

    .footer__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 0px;
        margin-bottom: 90px;
    }

    .footer__item_name {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 640px) {
    .footer__title {
        font-size: 24px;
        line-height: 26px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    #footer {
        padding: 100px 20px;
    }

    .footer__socials li+li {
        border-left: none;
    }

    .footer_br320 {
        display: inline;
    }

    .footer__socials {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer__socials a {
        border: none;
    }

    .footer__title {
        font-size: 20px;
        line-height: 22px;
        text-align: center;
    }

    .footer__nav {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__nav li {
        justify-content: center;
    }

    .up {
        height: 132px;
        justify-content: center;
        padding-bottom: 10px;
    }

    .up_btn {
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }
}