
.header {
    background-color: var(--background-color-dark);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display: flex;
}

.menu_button {
    align-items: center;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    background-color: var(--background-color-white);
}

.header__logo {
    width: 100px;
    height: 65.73px;
}

.nav-menu {
    background-color: var(--background-button-color);
    font-family: var(--text-font-family-other);
    color: var(--text-color-button-dark);
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}
