
.header {
    background-color: var(--background-color-dark);
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 11%;
    padding-right: 9%;
    display: flex;
}

.menu_button {
    align-items: center;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    background-color: var(--background-color-white);
}

.header__logo {
    width: 100px;
    height: 65.73px;
}
