
.intro {
    color: var(--text-color-white);
    font-family: var(--text-font-family-main-condensed);
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: bottom;
    position: relative;
    background-image: url('../images/bg-img.jpg');
    min-height: 668px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.intro_text {
    font-family: var(--text-font-family-main-condensed);
    font-size: 24px;
    font-weight: 400;
}

.main_title {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-family: var(--text-font-family-main-condensed);
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    margin: 0;
}

.read_more_btn {
    background-color: var(--background-color-dark);
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--text-font-family-other);
    color: var(--text-color-white);
    width: 200px;
    height: 50px;
}

.carousel {
    display: flex;
    justify-content: space-between;
}

.arrows {
    position: absolute;
    height: 141px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_arrow_btn .material-symbols-sharp {
    font-size: 50px;
    color: var(--background-color-white);
}

.right_arrow_btn .material-symbols-sharp {
    font-size: 50px;
    color: #929292;
}

.left_arrow_btn {
    background: var(--background-color-dark);
    width: 70px;
    height: 70px;
    padding-top: 6px;
    padding-left: 10px;
}

.right_arrow_btn {
    background: var(--background-button-color);
    width: 70px;
    height: 70px;
    padding-top: 6px;
    padding-left: 10px;
}

.pagination {
    width: 50px;
}

.indicator {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background-color: var(--background-color-white);
    padding: 0;
    border: 1px var(--background-color-white) solid;
}

.indicator.active {
    background-color: transparent;
    cursor: default;
}
