.intro {
    color: var(--text-color-white);
    font-family: var(--text-font-family-main-condensed);
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: bottom;
    position: relative;
    background-image: url('../images/bg-img.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.intro::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #212121;
    opacity: 0.5;
    z-index: 1;
}
/* щоб затемнений фон не затемняв усі інші елементи*/
.intro>* {
    z-index: 2;
}

.intro_text {
    font-family: var(--text-font-family-main-condensed);
    font-size: 24px;
    font-weight: 400;
}

.intro_text_wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_title {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    font-family: var(--text-font-family-main-condensed);
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
    padding-top: 100px;
    margin: 0;
}

.read_more_btn {
    background-color: var(--background-color-dark);
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--text-font-family-other);
    color: var(--text-color-white);
    width: 200px;
    height: 50px;
}

.read_more_btn:hover {
    background-color: var(--background-button-color);
    color: var(--text-color-button-hover-white);
}

.carousel {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 75px;
}

.arrows {
    position: absolute;
    height: 141px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left_arrow_btn .material-symbols-sharp,
.right_arrow_btn .material-symbols-sharp {
    font-size: 50px;
    color: var(--background-color-white);
}

.left_arrow_btn,
.right_arrow_btn {
    background: var(--background-color-dark);
    width: 70px;
    height: 70px;
    padding-top: 6px;
    padding-left: 10px;
}

.right_arrow_btn:hover,
.left_arrow_btn:hover {
    background: var(--background-button-color);
}

.left_arrow_btn:hover .material-symbols-sharp,
.right_arrow_btn:hover .material-symbols-sharp {
    color: var(--text-color-button-hover-white);
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    width: 70px;
}

.indicator {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    padding: 0;
}

.intro .indicator {
    background-color: var(--background-color-white);
    border: 1px var(--background-color-white) solid;
}

.intro .indicator.active {
    background-color: transparent;
    cursor: default;
}
@media screen and (max-width: 1024px) {
    .title {
        font-size: 84px;
        line-height: 84px;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 60px;
        line-height: 60px;
    }
}
@media screen and (max-width: 640px) {
    .intro_text_wrapper {
        padding-top: 0;
    }

    
    .intro_text {
        display: none;
    }
    .title {
        position: relative;
        padding-bottom: 20px;
    }
    .title::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 50%;
    height: 8px;
    width: 60px;
    transform: translateX(-50%);
    background-color: var(--text-color-dark);
}
}
@media screen and (max-width: 320px) {
    .carousel { 
        padding-top: 0px;
        padding-bottom: 20px;
    }
    .title {
        font-size: 28px;
        letter-spacing: 0;
        line-height: 28px;
        padding-top: 36px;
        padding-bottom: 30px;
    }
    .read_more_btn {
        display: none;
    }
    .arrows {
        display: none;
    }
}