.latest_news {
    background-color: var(--background-button-color);
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.news_title {
    font-family: var(--text-font-family-main-condensed);
    color: var(--text-color-dark);
    font-weight: 400;
    text-align: center;
    font-size: 48px;
    position: relative;
    margin-bottom: 80px;
    padding-top: 60px;
    padding-bottom: 30px;
}

.news_title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 100px;
    background-color: var(--background-color-dark);
}


.news_content {
    margin: 50px;
    columns: 4;
    column-gap: 30px;
}

.news_block img {
    width: 100%;
    height: 100%;
    display: block;
}


.news_block {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    align-self: self-start;
    width: 100%;
    border-radius: 3px;
}

.news_info_shading {
    position: absolute;
    inset: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-dark);
    pointer-events: none;
}

.news_info_btn {
    position: absolute;
    opacity: 0;
    fill: var(--background-color-white);
    width: 28px;
    height: 28px;
    inset: 0;
    margin: auto;
}

.news_block:hover::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 10px solid var(--background-color-dark);
    z-index: 5;
    pointer-events: none;
}

.news_block:hover .news_info_btn {
    opacity: 1;
    cursor: pointer;
}

.news_block:hover .news_info_shading {
    opacity: 0.3;
    transition: all 0.5s ease;
}

.news_block:hover .news_name {
    bottom: 10%;
    background-color: var(--background-color-dark);
    white-space: wrap;
    color: var(--text-color-button-white);
    transition: all 0.5s ease;
}

.news_name {
    position: absolute;
    padding-left: 20px;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 40px;
    font-family: var(--text-font-family-main-condensed);
    color: var(--text-color-dark);
    background-color: var(--background-color-white);
    font-weight: 700;
    letter-spacing: 2px;
    transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
    .news_content {
        columns: 3;
        padding-bottom: 30px;
    }
    .latest_news {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .news_content {
        columns: 2;
    }
}
@media screen and (max-width: 640px) {
    .news_content {
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media screen and (max-width: 320px) {
    .news_content {
        columns: 1;
    }
    .news_title {
        font-size: 24px;
        margin-bottom: 0;
        padding-bottom: 45px;
    }
   .news_block:hover .news_name {
        padding-left: 10px;
    }
}