
.promo {
    padding-left: 10%;
    
    padding-bottom: 4%;
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-dark);
}

.buy_btn {
    width: 200px;
    height: 50px;
    background: var(--background-button-color);
    font-family: var(--text-font-family-other);
    color: var(--background-color-dark);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
}

.cta_text_wrapper {
    display: flex;
    flex-direction: column;
}

h1.cta_text {
    margin-bottom: 2%;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    font-family: var(--text-font-family-other);
    color: var(--text-color-white);
    width: 100%;

}

p.cta_text {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: var(--text-color-white);
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

@media screen and (max-width: 1024px) {
    h1.cta_text {
        font-size: 18px;
        line-height: 18px;
    }
    p.cta_text {
        font-size: 14px;
    }
}
