.recent_work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background: linear-gradient(to bottom, var(--background-color-dark) 0%, #ffffff 100%);
}


.recent_work_title {
    padding: 40px;
}

.recent_work_title h2 {
    font-family: var(--text-font-family-main-condensed);
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 40px;
    text-align: center;
    color: var(--text-color-white);
    position: relative;
}

.recent_work_title h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 100px;
    background-color: var(--background-color-white);
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.portfolio_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.portfolio_image {
    border-radius: 3%;
}

.portfolio_image_btn {
    position: relative;
}

.portfolio_image_btn:hover .hover_info {
    opacity: 0.835;
    transition: all 0.3s ease;
}

.hover_info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 12px;
    opacity: 0;
    background-color: var(--background-button-color);
    border-radius: 3px;
}

.hover_info svg {
    fill: var(--background-color-dark);
    width: 28px;
    height: 28px;
    margin: 7px;
    cursor: pointer;
}

.content_name {
    font-family: var(--text-font-family-main-condensed);
    color: var(--text-color-dark-blue);
    font-weight: 700;
    font-size: 16px;
    margin: 38px;
    letter-spacing: 2px;
}
 
@media screen and (max-width: 1148px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .content_name {
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .content {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 640px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .recent_work_title {
        padding: 0;
        padding-bottom: 40px;
    }

    .content_name {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .portfolio_item {
        margin: 0;
    }
}