.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.services_text_description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.7%;
    max-width: 30%;
    padding-left: 10%;
}

.services_text_description>div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.services_text_head {
    font-family: var(--text-font-family-main-condensed);
    font-size: 48px;
    color: var(--background-color-dark);
    font-weight: 400;
    padding-bottom: 10px;
    text-align: left;
}

.services_text_main {
    font-family: var(--text-font-family-other);
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color-dark);
    position: relative;
    padding-top: 2px;
    padding-bottom: 40px;
}

.services_text_main::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    height: 8px;
    width: 100px;
    background-color: var(--background-color-dark);
}

.services_text_content {
    font-family: var(--text-font-family-other);
    line-height: 24px;
    color: var(--text-color-dark-gray);
    font-size: 18px;
}

.services_items {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--background-button-color);
}

.serv_item_btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--background-color-white);
    margin: 1px;
    min-width: 222px;
    min-height: 255px;
    position: relative;
}

.item_hover_content {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 20px;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.8s ease;
    pointer-events: none;
}

.serv_item_btn:hover .item_hover_content {
    opacity: 1;
    transition: opacity 0.5s ease;
    transform: translateY(0);
}

.serv_item_btn:hover .service_image,
.serv_item_btn:hover .item_name {
    transform: translateY(-40px);
    transition: all 0.5s ease;
}

.serv_item_btn:hover {
    outline: 4px solid var(--background-color-dark);
    outline-offset: -9px;
}

.service_image {
    margin-top: 20%;
    filter: brightness(0) invert(24%) sepia(8%) saturate(4245%) hue-rotate(186deg) brightness(95%) contrast(93%);
}

.hover_text {
    font-family: var(--text-font-family-other);
    font-size: 16px;
    color: var(--text-color-button-dark);
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: 500;
    pointer-events: none;
}

.more_link {
    font-family: var(--text-font-family-main-condensed);
    color: var(--background-color-dark);
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 100px;
    text-transform: uppercase;
}

.item_name {
    margin-bottom: 20%;
    font-family: var(--text-font-family-main-condensed);
    color: var(--text-color-dark);
    max-width: 150px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
    .services_text_description {
        max-width: none;
        padding-left: 46px;
    }

    .services_text_head {
        width: 100%;
        text-align: center;
    }

    .services_text_content {
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .services_text_description {
        min-width: 300px;
    }

    .services_items {
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 640px) {
    div.services_text_description {
        text-align: center;
    }

    .services_text_main::after {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 320px) {
    .services_items {
        grid-template-columns: repeat(1, 1fr);
    }

    .services_text_description {
        padding-left: 10px;
    }
}