:root {
    --text-color-white: #ffffff;
    --text-color-dark: #4A4A4A;
    --text-color-button-dark: #9b9b9b;
    --text-color-dark-blue: #2B4074;
    --background-color-dark: #2B4074;
    --background-color-white: #FFFFFF;
    --background-button-color: #F9F6E5;
    --text-font-family-main-condensed: 'Roboto Condensed', sans-serif;
    --text-font-family-other: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.hover_info a {
    text-decoration: none; 
    outline: none; 
    gap: 0;        
}

.main {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.promo {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4%;
    padding-top: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-dark);
}

.buy_btn {
    width: 200px;
    height: 50px;
    background: var(--background-button-color);
    font-family: var(--text-font-family-other);
    color: var(--background-color-dark);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
}

.cta_text_wrapper {
    display: flex;
    flex-direction: column;
}

.cta_text_wrapper h1.cta_text {
    margin: 0;
    font-weight: 500;
    font-family: var(--text-font-family-other);
    width: 100%;
}

.cta_text {
    font-family: 'Dosis', sans-serif;
    color: var(--text-color-white);
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 2%;
}

.services_text_description {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.7%;
    max-width: 30%;
}

.services_text_description>div {
    margin-top: 4%;
    margin-bottom: 4%;
}

.services_text_head {
    font-family: var(--text-font-family-main-condensed);
    font-size: 48px;
    color: var(--background-color-dark);
    font-weight: 400;
    padding-bottom: 10px;
}

.services_text_main {
    font-family: var(--text-font-family-other);
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color-dark);
    position: relative;
    padding-top: 2px;
    padding-bottom: 40px;
}

.services_text_main::after {
    content: "";
    bottom: 0;
    position: absolute;
    left: 0;
    height: 8px;
    width: 100px;
    background-color: var(--background-color-dark);
}

.services_text_content {
    font-family: var(--text-font-family-other);
    line-height: 24px;
    color: var(--background-color-dark);
    font-size: 18px;
}

.services_items {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--background-button-color);
}

.serv_item_btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--background-color-white);
    margin: 1px;
    min-width: 222px;
    min-height: 255px;
    position: relative;
}

.item_hover_content {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0 20px;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.8s ease;
    pointer-events: none;
}

.serv_item_btn:hover .item_hover_content {
    opacity: 1;
    transition: opacity 0.5s ease;
    transform: translateY(0);
}

.serv_item_btn:hover .service_image,
.serv_item_btn:hover .item_name {
    transform: translateY(-40px);
    transition: all 0.5s ease;
}

.serv_item_btn:hover {
    outline: 4px solid var(--background-color-dark);
    outline-offset: -9px;
}

.service_image {
    margin-top: 20%;
    filter: brightness(0) invert(24%) sepia(8%) saturate(4245%) hue-rotate(186deg) brightness(95%) contrast(93%);
}

.hover_text {
    font-family: var(--text-font-family-other);
    font-size: 16px;
    color: var(--text-color-button-dark);
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: 500;
    pointer-events: none;
}

.more_link {
    font-family: var(--text-font-family-main-condensed);
    color: var(--background-color-dark);
    font-weight: 700;
    letter-spacing: 2px;
    padding-top: 100px;
    text-transform: uppercase;
}

.item_name {
    margin-bottom: 20%;
    font-family: var(--text-font-family-main-condensed);
    color: var(--text-color-dark);
    max-width: 150px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}