:root {
    --text-color-white: #ffffff;
    --text-color-dark: #4A4A4A;
    --text-color-gray: #9B9B9B;
    --text-color-button-dark: #9b9b9b;
    --text-color-button-white: #F9F6E5;
    --text-color-dark-blue: #2B4074;
    --text-color-button-hover-white: #929292;
    --background-color-dark: #2B4074;
    --background-color-white: #FFFFFF;
    --background-button-color: #F9F6E5;
    --text-font-family-main-condensed: 'Roboto Condensed', sans-serif;
    --text-font-family-other: 'Roboto', sans-serif;
    --footer-border-color: #7EBF84;
}

html:focus-within {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

section {
    padding-left: 10%;
    padding-right: 4%;
}

.hover_info a {
    text-decoration: none;
    outline: none;
    gap: 0;
}

.main {
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 320px) {
    section {
        padding-left: 20px;
        padding-right: 20px;
    }
}