.testimonial {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: var(--background-color-white);
}
.quote {
    color: var(--text-color-dark-blue);
    font-weight: 400;
    font-size: 38px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    line-height: 0;
}

.quotes_carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.cite_wrapper {
    margin-bottom: 40px;
     font-family: var(--text-font-family-main-condensed);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-color-dark);
    font-style: normal;
}
.quote_text {
    font-family: var(--text-font-family-main-condensed);
    color: var(--text-color-dark);
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
}

.highlight {
    color: var(--text-color-dark-blue);
    font-weight: 700;
}

.cite {
   font-style: normal;
}
.testimonial .indicator {
    background-color: var(--background-color-dark);
     border: 1px var(--background-color-dark) solid;
}
.testimonial .indicator.active {
    background-color: transparent;
    cursor: default;
}